html, body {
      
	background-color: #fff;
	padding-top: 30px;
	font-family: Verdana;
		
    }
	  
	  /* HTML document */
body, div, form, input, select, p { 
	
	color: #658a8a;
    line-height: 30px;
	text-align: left;
	font-size: 0.90em;	
	  
     	  
	}
	  
      /* User Credential title*/
h2 {
		  
    font-weight: 400px;
	color: #d1d1d1;
	font-family: Verdana;
	position: relative;
	text-align: left;
	  
	}
	  
	  /* Form CSS Layout*/
form {
		  
    left: 30%;
	position: relative;
    width: 500px; 
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 3px 5px 0 #b7c4b3; 
	background-color: #fafafa;
	text-align: left;
	margin-bottom: 50px;
	margin: 10px;
	  
	}
	  
	  /* Form CSS User Input */
input {
		  
	margin-bottom: 10px;
    border: 1px dotted #7fb395;
    border-radius: 2px;
    width: calc(100% - 20px);
    padding: 1px;
	box-shadow: 2px 2px 2px 2px #ccc;
	padding-left: 10px;
	  
    }
	  
	  /* Input submit button */
input[type=submit] {
		  
	background-color: #7fb395;
	border: none;
	color: #fff;
	padding: 16px 32px;
	text-decoration: none;
	text-align: center;
	margin: 4px 2px;
	cursor: pointer;
	padding: 3px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 2px 2px 2px 2px #98b3b3; 
	  
	}
	  
	  /* Input hover submit button */
input:hover[type=submit] {
		  
	background: #658a8a;
	  
	}
	  
.center {
	
	margin-left: auto;
	margin-right: auto;
	
	}

	  
	/********* BEGIN Scrollbar colors **********/
	  
::-webkit-scrollbar {
	width: 10px;
	}

		/* Track */
::-webkit-scrollbar-track {
	background: #e7f2e6; 
	}
		 
		/* Handle */
::-webkit-scrollbar-thumb {
	background: #7fb395; 
	}

		/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #c3c9b5; 
	}
	
	/********* END Scrollbar colors **********/
	
	
	}
