	/* The entire document */


body{
	
	background-color: #fcfcfc;
	padding-top: 50px;
	padding-left: 150px;
	padding-right: 150px;
	font-family: Verdana;
	font-size: 12px;
	
}


	/* The surround border of the table */
	
table {
	
	border: 1px dotted #69d1e0;
	border-radius: 10px;
	text-align: left;
	padding: 5px;
	box-shadow: 3px 3px 3px 1px #c3c9b5;
	padding-left: 10px;
	padding-right: 10px;
	
}


	/* The table header row | where metadata is placed */
	
th {
	
	background-color: #7fb395;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	position: static;
	border-radius: 4px;
	text-align: left;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	
}


	/* The table's rows where the data is stored. */
	
td {
	
	font-family: Verdana, sans-serif;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border: 0px;
	border-radius: 4px;
	position: static;

}

	/********* Scrollbar colors **********/



	::-webkit-scrollbar {
	  width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	  background: #e7f2e6; 
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: #7fb395; 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: #c3c9b5; 
	}


	/******* Hover mouse cursor colors ********/

	tr:nth-child(even) {background-color: #d0d9bd;}
	tr:hover {background: #c3c9b5;}
	
